.main-title {
    font-family: Arial, "Times New Roman", sans-serif;
    color: rgb(202, 101, 33);
    background-color: aqua;
    text-align: center;
    font-weight: 700;
}

#main-gif {
    height: auto;
    width: 600px;
}

ul,
li {
    text-align: left;
    list-style: square;
    font-size: larger;
    background-color: red;
    }

.odd-list {
    background-color: black;
    color: white;
}